@charset "UTF-8";
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
	width: 593px;
	height: 806px;
	padding-top: 100px;
	margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
 
 
  padding: 65px 53px;
  text-align: center;
  border:1px solid #d6d6d6;
}
body {
  
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}


#title {
  font-size: 26px;
  font-weight: bold;
  color: #4b4b4b;
  letter-spacing: -2px;
}
#blankBox {
  height: 23px;
}
#loginTitle {
  font-weight: bold;
  color: #4b4b4b;
  text-align: left;
}

.login-form>div:nth-child(1) {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 6px 0;
}

.inputBox1 {
  padding: 10px 10px;
  border-radius: 0;
  border:1px solid #d6d6d6;
  margin-top: 12px;
  margin-bottom: 0;
  width: 280px;
}
input::placeholder {
  font-size: 11px;
}

input:focus {
  outline: none;
}
button:nth-child(1) {
  border-radius: 1px;
  border: 1px solid #d6d6d6;
  padding: 13px 46px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  height: 46px;
}
#footer>button:nth-child(2) {
  border: 1px solid #7fad39;
  font-weight: bold;
  border-radius: 1px;
  padding: 13px 46px;
  background-color: #7fad39;
  color: white;
  cursor: pointer;
  height: 46px;
}
hr {
  margin: 10px 0 32px 0;
  background:#d6d6d6;
  height:1px;
  border:0;
}
#footer {
  display: flex;
  justify-content: center;
}
#message {
  display: flex;
  justify-content: start;
  color: #aaa;
  letter-spacing: -1px;
}
#message2 {
  font-size: 12px;
  color: #868686;
  letter-spacing: -1px;
  position: relative;
  top: 7px;
  left: 10px;
  width: 302px;
  margin: auto;
  text-align: start;
  margin-bottom: 40px;
}
a:link {
  color : black;
}
a:visited {
  color : black;
}
a:hover {
  color : black;
}
a:active {
  color : black
}